@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.root {
  height: 100%;
  min-width: 100%;
}

body,
.root {
  min-height: 100%;
  min-width: 100%;
  /* color: #505168;
  backgroundcolor: #eaefd3;
  bordercolor: #b3c0a4; */
}
